<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="OPENgovANAGRAFICA"/>
    <add key="ApplicationKey" value="ENGINE"/>
    <add key="ServiceName" value="OG_Ribes"/>
    <add key="DisplayName" value="OPENgov - SERVICE"/>
    <add key="Description" value="Servizio per la gestione di OPENgov, importazione anagrafiche, generazione report, ecc per il progetto OPENgov."/>
    <add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\Services\Engine\bin\log4net.xml"/>
    <add key="RepositoryFilesToImport" value="C:\Users\monic\Downloads\SangroAventino-TrignoSinello\"/>
    <add key="TypeConnection" value="SQL"/><!--<add key="TypeConnection" value="MySQL"/>-->
  </appSettings>
  <connectionStrings>
    <clear/>
    <!--*** SQL ***-->
    <!--<add name="OPENgov" connectionString="User ID=opengov;Initial Catalog=OPENgov_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovSTRADARIO" connectionString="User ID=opengov;Initial Catalog=OPENgovCOMUNISTRADE_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovANAGRAFICA" connectionString="User ID=opengov;Initial Catalog=OPENgovANAGRAFICA_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovTARSU" connectionString="User ID=opengov;Initial Catalog=OPENgovTARSU_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovICI" connectionString="User ID=opengov;Initial Catalog=OPENgovICI_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>-->
    <add name="OPENgov" connectionString="User ID=opengov;Initial Catalog=OPENgov_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovSTRADARIO" connectionString="User ID=opengov;Initial Catalog=OPENgov_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovANAGRAFICA" connectionString="User ID=opengov;Initial Catalog=OPEN_ANAGRAFICA_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovTARSU" connectionString="User ID=opengov;Initial Catalog=OPENgovTIA_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovICI" connectionString="User ID=opengov;Initial Catalog=OPENgovICI_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <!--*** MySQL ***
    <add name="OPENgov" connectionString="data source=192.168.14.114;initial catalog=OPENgov_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient"/>
    <add name="OPENgovANAGRAFICA" connectionString="data source=192.168.14.114;initial catalog=OPENgovANAGRAFICA_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient"/>
    <add name="OPENgovSTRADARIO" connectionString="data source=192.168.14.114;initial catalog=OPENgovCOMUNISTRADE_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient"/>
    <add name="OPENgovTARSU" connectionString="data source=192.168.14.114;initial catalog=OPENgovTARSU_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient"/>
    <add name="OPENgovICI" connectionString="data source=192.168.14.114;initial catalog=OPENgovICI_TRIBUTI;persist security info=True;user id=root;password=iSimply2016;" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
